body {
  --color-primary: #FF4500;
  --color-background: white;
  --color-backgroundSoft: lightgrey;
  --color-foreground: black;
  --color-foregroundSoft: grey;
}

body.theme--dark {
  --color-primary: #FF4500;
  --color-background: black;
  --color-backgroundSoft: grey;
  --color-foreground: white;
  --color-foregroundSoft: lightgrey;
}

@tailwind base;

svg {
  display: inline-block;
  vertical-align: top;
}

iframe {
  width: 100%;
  height: 100%;
}

.video-js--container > div,
.video-js--container > div > .video-js {
  max-width: 100%;
}

.video-js .video-js {
  width: 100% !important;
  height: 100% !important;
}

.post-preview a,
.comment-content a {
  @apply text-red-600 font-semibold underline;
}

.post-preview p {
  @apply my-2;
}

.post-preview p:first-child {
  @apply mt-0;
}

.post-preview p:last-child {
  @apply mb-0;
}

@tailwind components;

@tailwind utilities;
